<mat-card>
    <mat-card-title>Detalhes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
              <span matListItemTitle>Código:</span>
              <span matListItemLine>{{blog?.id}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Name:</span>
              <span matListItemLine>{{blog?.name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Handle:</span>
              <span matListItemLine>{{blog?.handle}}</span>
            </mat-list-item>

        </mat-list>
    </mat-card-content>
</mat-card>

