<mat-card>
    <mat-card-title><a routerLink="/blogs"><mat-icon>arrow_back_ios</mat-icon></a>Detalhes</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
              <span matListItemTitle>Código:</span>
              <span matListItemLine>{{blog?.id}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Name:</span>
              <span matListItemLine>{{blog?.name}}</span>
            </mat-list-item>
            <mat-list-item>
              <span matListItemTitle>Handle:</span>
              <span matListItemLine>{{blog?.handle}}</span>
            </mat-list-item>
            <button [routerLink]="['/blogs/edit', blog?.id]" mat-flat-button color="primary">Editar</button>
            

        </mat-list>
    </mat-card-content>
</mat-card>

