<mat-card>
    <mat-card-title>Editar Blog</mat-card-title>
    <mat-card-content>
        <form (submit)="salvar()">
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput placeholder="Admin" [(ngModel)]="blog.name" name="name" required >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Handle</mat-label>
                <input matInput placeholder="Handle" [(ngModel)]="blog.handle" name="handle" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>User</mat-label>
                <mat-select [(ngModel)]="blog.user.login" name="user">
                    @for (user of userSelected; track user) {
                        <mat-option [value]="user.id" >{{user.login}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            <button mat-flat-button color="primary" type="submit">Salvar</button>
            
        </form>
    </mat-card-content>
    
</mat-card>
