<mat-card>
    <mat-card-title>Usuários</mat-card-title>
    <div class="actions">
      <button mat-fab extended  color="primary">
        <mat-icon>refresh</mat-icon> Atualizar Lista
      </button>
      <button routerLink="/users/create" mat-fab extended color="primary">
        <mat-icon>add</mat-icon> Adicionar
      </button>
    </div>
    <mat-card-content>
        <table mat-table [dataSource]="users">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> Código </th>
              <td mat-cell *matCellDef="let user"> {{user.id}} </td>
            </ng-container>
          
            <ng-container matColumnDef="login">
              <th mat-header-cell *matHeaderCellDef> Login </th>
              <td mat-cell *matCellDef="let user"> {{user.login}} </td>
            </ng-container>
          
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let user"> {{user.email}} </td>
            </ng-container>

            <ng-container matColumnDef="idioma">
              <th mat-header-cell *matHeaderCellDef> Idioma </th>
              <td mat-cell *matCellDef="let user"> {{user.langKey}} </td>
            </ng-container>

            <ng-container matColumnDef="perfis">
                <th mat-header-cell *matHeaderCellDef> Perfis </th>
                <td class="authoritiesCell" mat-cell *matCellDef="let user">
                  @for (authority of user.authorities; track $index) {
                  <div>
                    <span class="authorities">{{ authority }}</span>
                  </div>
                  } </td>
            </ng-container>

            <ng-container matColumnDef="dataCriacao">
                <th mat-header-cell *matHeaderCellDef> Criado em </th>
                <td mat-cell *matCellDef="let user"> {{user.createdDate | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="quemModificou">
                <th mat-header-cell *matHeaderCellDef> Modificado por </th>
                <td mat-cell *matCellDef="let user"> {{user.lastModifiedBy}} </td>
            </ng-container>

            <ng-container matColumnDef="dataModificacao">
                <th mat-header-cell *matHeaderCellDef> Modificado em </th>
                <td mat-cell *matCellDef="let user"> {{user.lastModifiedDate | date}}  </td>
            </ng-container>
            <ng-container matColumnDef="situacao">
              <th mat-header-cell *matHeaderCellDef> Situação </th>
              <td mat-cell *matCellDef="let user"> 
                <ng-container *ngIf="user.activated; else inativo">
                  <button (click)="altSituation(user)" mat-flat-button color="primary">
                    Ativo
                  </button>
                </ng-container>
                <ng-template #inativo>
                  <button (click)="altSituation(user)" mat-flat-button color="warn">
                    Inativo
                  </button>
                </ng-template>
              </td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef> </th>
              <td mat-cell *matCellDef="let user">
                <button mat-icon-button [matMenuTriggerFor]="actions">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #actions="matMenu">
                  <button [routerLink]="['/users/view', user.login]" mat-menu-item>
                    <mat-icon>visibility</mat-icon>
                    <span>Visualizar</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Editar</span>
                  </button>
                  <button mat-menu-item>
                    <mat-icon>delete</mat-icon>
                    <span>Excluir</span>
                  </button>
                </mat-menu>
              </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </mat-card-content>

    

    <div class="paginator-area">
        <mat-card-actions>
            <mat-paginator [length]="length"
                  (page)="handlePageEvent($event)"
                  [pageSize]="1"
                  [pageSizeOptions]="[1, 2]"
                  [pageIndex]="pageIndex"
                  aria-label="Select page">
            </mat-paginator>
        </mat-card-actions>
    </div>

    
    
      
</mat-card>


