<mat-card>
    <mat-card-title><a routerLink="/blogs"><mat-icon>arrow_back_ios</mat-icon></a>Criar Blog</mat-card-title>
    <mat-card-content>
        <form  >
            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput  [(ngModel)]="blog.name" name="name" required >
            </mat-form-field>
            <mat-form-field>
                <mat-label>Handle</mat-label>
                <input matInput  [(ngModel)]="blog.handle" name="handle" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>User</mat-label>
                <mat-select [(ngModel)]="selectedUserId" name="user" required>
                    @for (user of users; track user) {
                        <mat-option [value]="user.id" >{{user.login}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>
            
            <button (click)="salvar()" mat-flat-button color="primary" type="submit">Salvar</button>
            
        </form>
    </mat-card-content>
    
</mat-card>
