<mat-card>
    <mat-card-title>Configurações para o usuário</mat-card-title>
    <mat-card-content>
        <form>
            <div class="form-wrapper">
                <mat-form-field>
                    <mat-label>Nome</mat-label>
                    <input matInput placeholder="Admin" required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Sobrenome</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <div class="form-wrapper">
                <mat-form-field>
                    <mat-label>E-mail</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Idioma</mat-label>
                    <input matInput required>
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary">Salvar</button>
            
        </form>
    </mat-card-content>
    
</mat-card>
