mat-card{
    margin: 10px;

    mat-card-title{
        padding: 30px 0px 20px 30px;
        font-size: 32px;
    }
}

.actions{
    padding: 0px 0px 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}