
<mat-toolbar color="primary">
    <div class="left">
        <button mat-icon-button (click)="collapsed.set(!collapsed())" class="icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>Blog</span>
    </div>

    <div class="right">
        <button class="user-button" mat-button [matMenuTriggerFor]="menu"> 
            <mat-icon>person</mat-icon>
            <span>Conta </span>
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/settings"><mat-icon>settings</mat-icon>Configurações</button>
            <button mat-menu-item><mat-icon>lock</mat-icon>Senha</button>
            <button mat-menu-item><mat-icon>logout</mat-icon>Sair</button>
        </mat-menu>
    </div>
</mat-toolbar>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [style.width]="sidenavWidth()" opened>
        <mat-nav-list>
            
            <a routerLink="/home" mat-list-item><mat-icon matListItemIcon>home</mat-icon><span>Início</span></a>
            <a mat-list-item (click)="toggleDropdown('Entidades')" ><mat-icon matListItemIcon>table_view</mat-icon><span>Entidades<i class="fa-solid fa-caret-down"></i></span></a>
            <div [ngStyle]="{ display: collapsed() ? 'none' : dropDownEntWidth()}" class="dropdown-list">
                <a routerLink="/blogs" mat-list-item href="#"><mat-icon matListItemIcon>emergency</mat-icon><span>Blog</span></a>
                <a routerLink="/posts" mat-list-item href="#"><mat-icon matListItemIcon>emergency</mat-icon><span>Post</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>emergency</mat-icon><span>Tag</span></a>
            </div>

            <a mat-list-item (click)="toggleDropdown('Adm')"><mat-icon matListItemIcon>manage_accounts</mat-icon><span>Administração<i class="fa-solid fa-caret-down"></i></span></a>
            <div [ngStyle]="{ display: collapsed() ? 'none' : dropDownAdmWidth()}" class="dropdown-list">
                <a routerLink="/users" mat-list-item href="#"><mat-icon matListItemIcon>groups</mat-icon><span>Usuários</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>analytics</mat-icon><span>Métricas</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>monitor_heart</mat-icon><span>Sistema</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>build</mat-icon><span>Configuração</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>checklist</mat-icon><span>Logs</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>import_contacts</mat-icon><span>Api</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>storage</mat-icon><span>Banco de Dados</span></a>
            </div>

            <a mat-list-item (click)="toggleDropdown('Idioma')"><mat-icon matListItemIcon>language</mat-icon><span>Idioma<i class="fa-solid fa-caret-down"></i></span></a>
            <div [ngStyle]="{ display: collapsed() ? 'none' : dropDownIdiomWidth()}" class="dropdown-list">
                <a mat-list-item href="#"><mat-icon matListItemIcon>translate</mat-icon><span>Português</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>translate</mat-icon><span>English</span></a>
                <a mat-list-item href="#"><mat-icon matListItemIcon>translate</mat-icon><span>Español</span></a>
            </div>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content [style.margin-left]="sidenavWidth()">
        <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
